# Ignore the build and lib dirs
build/
lib/
data/

# Ignore any executables
bin/

# Ignore Mac specific files
.DS_Store

.cache/
*.egg-info/
*.py[cod]
*.swp

tags

env/

# Cython intermediate
src/metrohash.cpp

*.so
